/*CSS RESET*/
body,
header,
nav,
main,
footer,
img,
aside,
figure,
figcaption,
ul,
h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #f6eee4;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Style rules for mobile viewport*/
/* Style rules for header content */
header {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
}

/* Style rules for navigation area */
nav {
    background-color: black;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    border-top: 1px solid white;
}

a {
    text-decoration: none;
    color: aqua;
}

nav li a {
    display: block;
    color: aquamarine;
    padding: 0.5em 1em;
}

/* Style rules for main content */
main {
    background-color: bisque;
    padding: 4%;
    font-family: 'Roboto Serif', sans-serif;
    text-align: center;
}

main p {
    font-size: 1.5em;
}

main ul li {
    list-style: none;
    display: list-item;
    margin: 40px;
}

main h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

#welcome,
#content {
    margin: 0 2%;
}

.map {
    width: 95%;
    height: 50%;
    border: 1px solid aqua;
}

.round {
    border-radius: 6px;
}

aside {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 4px 4px 10px aquamarine;
}

figure {
    border: 4px solid peru;
    box-shadow: 6px 6px 10px aqua;
    max-width: 326px;
    margin: 2% auto;
}

figcaption {
    padding: 2%;
    border-top: 4px solid peru;
}

.tel-link {
    background-color: coral;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
}

#contact {
    text-align: center;
}

.tab-desk {
    display: none;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: black;
    color: #f6eee4;
    padding: 1% 0%;

}

/* Tablet */
@media screen and (min-width: 572px),
print {
    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }

    nav li {
        display: inline-block;
        border-top: none;
        font-size: 1.5em;
        border-right: 1px solid pink;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.25em 0.5em;
    }

    .map {
        width: 500px;
        height: 450px;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }

    aside {
        grid-column: 1 / span 2;
    }
}

/* Desktop */
@media screen and (min-width: 811px),
print {
    header {
        padding: 2%;
    }

    nav li a {
        padding: 0.5em 1.5em;
    }

    nav li a:hover {
        color: powderblue;
        background-color: palevioletred;
        opacity: 0.8;
    }

    main h3 {
        font-size: 1.5em;
    }

    .grid {
        grid-template-columns: auto auto auto;
        grid-gap: 30px;
    }

    aside {
        grid-column: 1 / span 3;
        font-size: 2em;
    }
}

@media print {
    body {
        color: white;
        background-color: black;
    }
}